@import "tailwindcss";

:root {
  --background: #FDF6E6;
  --foreground: #171717;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-hanken-grotesk), Arial, Helvetica, sans-serif;
}
.stroke-black-transparent {
  color: transparent;
  -webkit-text-stroke: 1.5px #00382F;
}

video:-webkit-full-screen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video:-moz-full-screen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video:fullscreen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.responsive-svg {
  width: 90px;
  height: auto;
}

@media (min-width: 640px) {
  .responsive-svg {
    width: 180px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .responsive-svg {
    width: 234px;
    height: 209px; 
  }
}



